<h2>List Categories</h2>

<ul>
<% @categories.each do |cat| %>
	<li> <%= link_to cat.name, cat %> </li>
<% end %>
</ul>

<%= link_to "Posts", posts_path %> || <%= link_to "Add New Category", new_category_path %> 
